* {
  box-sizing: border-box;
}

body {
  font-family: "Ariel", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-size: 18px;
  line-height: 22px;
}

.index-item {
  margin-bottom: 0.5rem;
}

.index-item .date {
  font-size: 0.9rem;
}
