* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    background-color: white;
    max-width: 600px;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  #title {
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
  }
  
  #title h1, #controls ul {
    background-color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
  }
  
  #tenprint {
    border: 1px solid black;
  }
  
  #controls {
    position: fixed;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }
  
  #controls ul {
    padding: 10px;
  }
  
  #controls ul li {
    list-style-type: none;
    text-align: right;
    height: 25px;
    overflow: hidden;
  }
  
  #controls > ul > li > input, #controls > ul > li > label {
    display: inline-block;
  }
  
  #controls .value-label {
    min-width: 120px;
    text-align: left;
  }
  
  input {
    width: 100px;
  }
  
  #direction-control-label > span {
    line-height: 14px;
    display: inline-block;
    font-size: 20px;
    margin: 0 3px;
    height: 19px;
    vertical-align: middle;
  }
  
  #direction-control-label > #direction-control-label-down {
    transform: rotate(45deg);
    
  }
    
  #direction-control-label > #direction-control-label-up {
    transform: rotate(-45deg);
  }
  